@{
  Layout = "_Layout";
}
<h3>Enter Amount and Get Exact Change</h3>
<br>
<br>
<div class="container">
  <form action="/" method="post">
    <label for="enter-number">Enter number: </label>
    <input type="text" name="enter-number">
  <br>
  <hr>
    <button type="submit" name="button">Submit</button>
  <hr>
  </form>

  <div>
    <ul>
        <li>@Model[0] quarters</li>
        <li>@Model[1] dimes</li>
        <li>@Model[2] nickels</li>
        <li>@Model[3] pennies</li>
    </ul>
  </div>
